.content {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #de4463;
    align-items: center;
    justify-content: center;
}

.forms {
    height: 200px;
}

input {
    text-align: center;
    height: 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.submit {
    width: 100%;
}