.content {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b5d1f1;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.forms {
    position: fixed;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.input-box {
    width: 100%;
    height: 12%;
    margin-bottom: 10px;
    padding: 2px;
    border-radius: 20px;
}

.input-submit {
    border-radius: 20px;
    justify-content: space-between;
    width: 50%;
}